container_commands:
  00_migrate_init:
    command: "django-admin.py makemigrations"
    leader_only: true
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsu:
    command: "django-admin.py createsu"  
  03_collectstatic:
    command: "django-admin.py collectstatic --no-input"



option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings