{% extends "base.html" %}

{% block page_title %}
  Search
{% endblock page_title %}


{% block content %}
<div class="container mx-auto">

  <form class="flex justify-center pt-4	" method="GET" action="{% url 'core:search' %}" > 
    <input class="border rounede w-3/4 mr-4 shadow focus:outline-none " type="text" placeholder="Search Movie, Book or Person" name="name" value="{{name}}"/>
    <button class="bg-pink-500 hover:bg-pink-600 focus:outline-none text-white font-bold rounded w-36 mt-2 py-2 px-4">Search</button>
  </form>

  {% if name == "Anything" %}
    {% include 'mixins/categories_list.html' %}
  {% endif %}

  <div>
    <div class="text-xl font-bold my-8">Searching by "{{name}}"</div>

    {% if movies.count > 0 %}
      {% include 'partials/movie_boxes.html' with movies=movies %}
    {% endif %}
    {% if books.count > 0 %}
      {% include 'partials/book_boxes.html' %}
    {% endif %}
    {% if people.count > 0 %}
      {% include 'partials/person_boxes.html' %}


    {% endif %}
  </div>

</div>
{% endblock content %}